#not-reasonable-size {
    background-color: rgba(250, 250, 250, 0.671);
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    color: rgb(25, 0, 255);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
#not-reasonable-size > * {
    width: 150px;
    height: 70px;
    text-align: center;
}
